.search-box {
    width: 250px;
}

@media screen and (max-width: 990px) {
    .search-box {
        width: 100%;
    }
}

.login-box {
    padding: 25px;
    background-color: #ccc;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}